/*
* @Author: Evrard Vincent
* @Date:   2024-02-23 00:24:05
* @Last Modified by:   vincent evrard
* @Last Modified time: 2024-02-23 00:24:13
*/
html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}